
<!-- SURVEY DONE EN-->
<img class="img-fluid o_we_custom_image o_we_selected_image d-block mx-auto" src="/web/image/854-8d6c84f9/6.18%20Join%20with%20us_Success_.png?access_token=6190bc66-230d-4e1f-82d4-305871298ced">
    <br>
<div style="padding-left: 15%; padding-right: 5%;">
   <p style="text-align: left;">Cám ơn vì đã chia sẻ dự án khởi nghiệp của bạn với chúng tôi!</p>
   <p style="text-align: left;">Quỹ ITI sẽ gửi email xác nhận “Đã nhận được thông tin đăng ký gọi vốn” trong thời gian sớm nhất.</p>
   <p style="text-align: left;">Trong khi chờ đợi, bạn có thể tìm hiểu thêm về quỹ ITI cũng như các dự án mà chúng tôi đã thực hiện tạị <a href="#"> link</a>. </p>
   <p></p>
   <p>Trường hợp đã qua 48h nhưng bạn vẫn chưa nhận được phản hồi từ phía quỹ ITI, hãy liên hệ với chúng tôi theo những cách sau để được hỗ trợ nhanh chóng: <br>
      <span style="padding-left: 25px">⇨ Fanpage <a href="#"> link</a></span><br>
       <span style="padding-left: 25px">⇨ Email: info@itifund.com </span><br>
   </p>
   <p style="float: right">
        <span>​Chúc bạn thành công!</span><br>
        <span style="padding-left: 50px;">ITI Fund.</span>
   </p>
<div style="clear: both"></div>
</div>



<img class="img-fluid o_we_custom_image o_we_selected_image d-block mx-auto" src="/web/image/854-8d6c84f9/6.18%20Join%20with%20us_Success_.png?access_token=6190bc66-230d-4e1f-82d4-305871298ced">
    <br>
<div style="padding-left: 15%; padding-right: 5%;">
   <p style="text-align: left;">Cám ơn vì đã chia sẻ dự án khởi nghiệp của bạn với chúng tôi!</p>
   <p style="text-align: left;">Quỹ ITI sẽ gửi email xác nhận “Đã nhận được thông tin đăng ký gọi vốn” trong thời gian sớm nhất.</p>
   <p style="text-align: left;">Trong khi chờ đợi, bạn có thể tìm hiểu thêm về quỹ ITI cũng như các dự án mà chúng tôi đã thực hiện tạị <a href="#"> link</a>. </p>
   <p></p>
   <p>Trường hợp đã qua 48h nhưng bạn vẫn chưa nhận được phản hồi từ phía quỹ ITI, hãy liên hệ với chúng tôi theo những cách sau để được hỗ trợ nhanh chóng: <br>
      <span style="padding-left: 25px">⇨ Fanpage <a href="#"> link</a></span><br>
       <span style="padding-left: 25px">⇨ Email: info@itifund.com </span><br>
   </p>
   <p style="float: right">
        <span>​Chúc bạn thành công!</span><br>
        <span style="padding-left: 50px;">ITI Fund.</span>
   </p>
   <div style="clear: both"></div>

</div>
<!--VN-->


<!-- DESCRIPTION EN-->
<div style="width: 100%">
<img class="img-fluid o_we_custom_image o_we_selected_image" src="/web/image/668-d6da05fd/start_photo_en.png?access_token=ee36efa0-c900-4a3e-94bc-90f6382b84e5">
<button type="submit" value="start" style="width: 50%;background-color: #147ad9;margin-left: 24.5% !important;margin: 0 auto;border-radius: 0px;margin-top: -4px;" class="btn btn-primary btn-lg">SUMIT HERE</button>
</div>



<!-- DESCRIPTION VN -->
<div style="width: 100%">
<img class="img-fluid o_we_custom_image" src="/web/image/666-c52754e5/start_photo_vn.png?access_token=ef5159d0-8fad-41ae-97c7-26cb2a27a821">
<button type="submit" value="start" style="width: 50%;background-color: #147ad9;margin-left: 24.5% !important;margin: 0 auto;border-radius: 0px;margin-top: -4px;" class="btn btn-primary btn-lg">ĐĂNG KÝ NGAY</button></div>





scp -r res_folder root@103.221.221.109:/opt/odoo14/odoo_source_tnt_comunity/custom/
028b3203783f6bc@0309Bindx.NET